# source code
src
resources
main.js
jsdoc.js
example

# compiler
vite.dev.config.js
vite.prod.config.js
vite.page.config.js
package-lock.json
node_modules 

# tests
test

#  lint
.eslintrc.js
.eslintignore

# IDE - VSCode
.vscode

# git
.git
.github